.Nav{
    background-color: #374F6B !important;
}

.nav-text{
    color : white !important; 
}

.active{
    font-weight: bold;
}

.toggle-button{
    border-color: white !important;
}

.hamburger{
        width: 35px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
}